body {
  background: #eee;
  font-family: sans-serif, Arial;
}

.card {
  width: 500px;
  background: #fff;
  margin: 16px auto;
  padding: 15px;
}

.title {
  background: #e3f4ff;
  padding: 10px;
}

.content {
  background: #e3f4ff;
  padding: 15px;
  font-size: 20px;
  border: 1px;
  margin-bottom: 10px;
}

.button-container {
  text-align: center;
  background: #e3f4ff;
  padding: 10px;
  font-size: 20px;
}

button {
  display: block;
  background: white;
  border: 1px solid #eee;
  margin-left: 170px;
  padding: 10px 20px;
  font-size: 15px;
}